@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@300;400&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Mukta", sans-serif;
}

body {
  background-color: rgba(245, 245, 245, 0.931);
  overflow-x: hidden;
}
main {
}

nav {
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
aside {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding-top: 9px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-transform: capitalize;
}

.dash-item {
  background-color: white;
  margin-top: 10px;
  margin-left: 22px;
  align-items: center;
  border-radius: 0.55rem;
  text-transform: capitalize;
  flex-wrap: wrap;
  height: auto;
  padding: 0 rem;
  box-shadow: 5px 2px 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  max-width: 250px;
}

.dash-item p,
.section p {
  margin-top: 1rem;
  text-transform: capitalize;
}

.dash-item h3 {
  color: rgb(9, 143, 246);
}
.dash-item:hover {
  background-color: #f1f1f1;
  transform: translateY(-2px);
  cursor: pointer;
}

.dash-item div {
  padding-top: 1rem;
}

.section {
  background-color: white;
  margin-top: 30px;
  margin-left: 13px;
  padding: 0.5rem;
  box-shadow: 5px 2px 10px rgba(0, 0, 0, 0.5);
  max-width: 600px;
  height: 300px;
  margin-bottom: 20px;
}

.table {
  margin: 5px;
  box-shadow: 5px 2px 10px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 500px) {
  .section {
    max-width: 350px;
  }
  .centered {
    margin: auto;
  }
  .dash-item {
    margin-left: 2.5rem;
    max-width: 300px;
  }
}
